n8n/confirmar_turno_Tecnomedic.json
{
  "name": "confirmar turno Tecnomedic",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z5b3hKpI7-o_AESdo_8fXiwZt5jusx3QuN-XKUU1SCw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Hoja 1" },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [-200, 0],
      "id": "node-trigger",
      "name": "Sheets: Cambio detectado",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": { "id": "qeEp0AFGQ4epsMMz", "name": "Google Sheets Trigger account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Confirmado",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [0, 0],
      "id": "node-if",
      "name": "Es Confirmado?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Sheets: Cambio detectado').item.json.Email }}",
        "subject": "✔️ Turno confirmado – TECNOMEDIC",
        "message": "=Hola {{ $('Sheets: Cambio detectado').item.json.Nombre }},\n\nTu turno fue CONFIRMADO ✔️\n\n📅 {{ $('Sheets: Cambio detectado').item.json.Fecha }}\n⏰ {{ $('Sheets: Cambio detectado').item.json.Hora }}\n\n📍 C. Pellegrini 799, Corrientes\n📞 (3794) 34-9278\n\n¡Te esperamos!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [220, 0],
      "id": "node-email",
      "name": "Email: Turno confirmado",
      "credentials": {
        "gmailOAuth2": { "id": "VHi15LUuNHins9IV", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Sheets: Cambio detectado": {
      "main": [
        [{ "node": "Es Confirmado?", "type": "main", "index": 0 }]
      ]
    },
    "Es Confirmado?": {
      "main": [
        [{ "node": "Email: Turno confirmado", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "DTqsFM60B7Jv5iq1",
  "tags": []
}
