n8n/cron.json
{
  "name": "recordatorio turno - cron diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-500, 0],
      "id": "node-cron",
      "name": "Cron: todos los días 9am"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z5b3hKpI7-o_AESdo_8fXiwZt5jusx3QuN-XKUU1SCw/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": { "__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Hoja 1" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-280, 0],
      "id": "node-read",
      "name": "Leer todos los turnos",
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "qeEp0AFGQ4epsMMz", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "cond-fecha",
              "leftValue": "={{ $json.Fecha }}",
              "rightValue": "={{ $now.plus(1, 'day').toFormat('dd/MM/yyyy') }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-60, 0],
      "id": "node-if",
      "name": "Turno mañana?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leer todos los turnos').item.json.Email }}",
        "subject": "⏰ Recordatorio de turno mañana – TECNOMEDIC",
        "message": "=Hola {{ $('Leer todos los turnos').item.json.Nombre }},\n\nTe recordamos que mañana tenés turno en TECNOMEDIC:\n\n⏰ {{ $('Leer todos los turnos').item.json.Hora }}\n📍 C. Pellegrini 799, Corrientes\n\nPor favor asistir puntual.\n\nCualquier consulta: (3794) 34-9278",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [160, -80],
      "id": "node-email",
      "name": "Email: Recordatorio",
      "credentials": {
        "gmailOAuth2": { "id": "VHi15LUuNHins9IV", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Cron: todos los días 9am": {
      "main": [
        [{ "node": "Leer todos los turnos", "type": "main", "index": 0 }]
      ]
    },
    "Leer todos los turnos": {
      "main": [
        [{ "node": "Turno mañana?", "type": "main", "index": 0 }]
      ]
    },
    "Turno mañana?": {
      "main": [
        [{ "node": "Email: Recordatorio", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "4IbInho3q7znKC68",
  "tags": []
}
